{{ 'section-call-to-action-1.css' | asset_url | stylesheet_tag }}

{% stylesheet %}
{% endstylesheet %}

<section id="call-to-action-1" class="promo-banner-section">

  <div class="promo-wrapper" {% unless section.settings.promo_theme != null %} style="background-color: #111;"{% endunless%}>
    <div class="promo-img-wrapper">
      
      
    </div>
    <div class="promo-text-wrapper">
      <div class="promo-theme">{{section.settings.promo_theme}}</div>
      <div class="promo-title">{{section.settings.promo_title}}</div>
      <div class="promo-text">{{section.settings.promo_text}}</div>
      <a class="white-btn" href="{{section.settings.button_url}}">{{section.settings.button_label}}</a>
    </div>
  </div>
  
</section>

{% javascript %}
{% endjavascript %}

{% schema %}
{
  "name": "t:sections.call-to-action.name",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "id": "banner_img",
      "type": "image_picker",
      "label": "t:sections.call-to-action.settings.banner_img.label"
    },
    {
      "id": "promo_theme",
      "type": "text",
      "label": "t:sections.call-to-action.settings.promo_theme.label",
      "default": "trending"
    },
    {
      "id": "promo_title",
      "type": "text",
      "label": "t:sections.call-to-action.settings.promo_title.label",
      "default": "lunes multicolor"
    },
    {
      "id": "promo_text",
      "type": "textarea",
      "label": "t:sections.call-to-action.settings.promo_text.label",
      "default": "Vestibulum feugiat libero est, ut ultrices diam accumsan et. Cras eleifend nec nisl sed bibendum. Sed vel velit lacus. Nulla varius purus id tortor gravida varius. Sed iaculis interdum nisi, nec faucibus metus iaculis id."
    },
    {
      "id": "button_label",
      "type": "text",
      "label": "t:sections.call-to-action.settings.button_label.label",
      "default": "descubrir"
    },
    {
      "id": "button_url",
      "type": "url",
      "label": "t:sections.call-to-action.settings.button_url.label"
    }
  ]
}
{% endschema %}
