{{ 'component-collection-hero.css' | asset_url | stylesheet_tag }}

<div class="collection-hero{% if section.settings.show_collection_image and collection.image %} collection-hero--with-image{% endif %}">
  <div class="collection-hero__inner page-width">
    <div class="collection-hero__text-wrapper">
      <h1 class="collection-hero__title">
        <span class="visually-hidden">{{ 'sections.collection_template.title' | t }}: </span>
        {{- collection.title | escape -}}
      </h1>

      {%- if section.settings.show_collection_description -%}
        <div class="collection-hero__description rte">{{ collection.description }}</div>
      {%- endif -%}
    </div>

    {%- if section.settings.show_collection_image and collection.image -%}
      <div class="media">
        <img
          
          src="{{ collection.image | img_url: '750x' }}"
          sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc(50vw - 130px), calc(50vw - 55px)"
          alt="{{ collection.title | escape }}"
          loading="lazy"
          width="{{ collection.image.width }}"
          height="{{ collection.image.height }}"
        >
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.call-to-action.name",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "id": "button_label",
      "type": "text",
      "label": "t:sections.call-to-action.settings.button_label.label"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "t:sections.call-to-action.settings.button_url.label"
    },
    {
      "type": "image_picker",
      "id": "banner_img",
      "label": "t:sections.call-to-action.settings.banner_img.label"
    }
  ]
}
{% endschema %}
