{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'custom-footer.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-newsletter.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-payment.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-social.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'disclosure.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-social.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'disclosure.css' | asset_url | stylesheet_tag }}</noscript>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<footer class="footer color-dark-blue">
  
  {% comment %} <div class=""></div> {% endcomment %}
  

  <div class="container">
    <div class="row" style="margin: 0;">
      <div class="col xs12 s12 m3 l3 xl3">
        <a class="footer-logo" href="/">
          <img src="https://cdn.shopify.com/s/files/1/0592/9287/6983/files/LogoPassaro_blanco.png?v=1633967209">
        </a>
      </div><!-- .col -->

      <div class="col xs12 s12 m3 l3 xl3">
        <div class="footer-links">
          <h3 class="footer-title">
            QUIZÁ TE INTERESE
          </h3>
          <ul>
          {% for link in linklists.footer.links %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
          </ul>
        </div>
      </div><!-- .col -->

      <div class="col xs12 s12 m3 l3 xl3">
        <div class="footer-legal">
          <h3 class="footer-title">
            AVISOS LEGALES
          </h3>
          <ul>
          {% for link in linklists.footer-legales.links %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
          </ul>
        </div>
      </div><!-- .col -->

      <div class="col xs12 s12 m3 l3 xl3">
        <div class="footer-redes">
          <h3 class="footer-title">
            SÍGUENOS EN
          </h3>

          <div class="newsletter">
            aca va el newsletter
          </div>        

          <ul class="footer__list-social list-unstyled list-social" role="list">
              <li class="list-social__item">
                <a href="https://www.facebook.com/passarostore" class="link link--text list-social__link" aria-describedby="a11y-external-message">
                  {%- render 'icon-facebook' -%}
                  <span class="visually-hidden">facebook</span>
                </a>
              </li>
            
              <li class="list-social__item">
                <a href="https://www.instagram.com/passaro_store/" class="link link--text list-social__link" aria-describedby="a11y-external-message">
                  {%- render 'icon-instagram' -%}
                  <span class="visually-hidden">instagram</span>
                </a>
              </li>
            </ul>      
        </div>
      </div><!-- .col -->
      
    </div><!-- . row -->
  </div><!-- . container -->

  <div class="divider"></div>

  <div class="footer-copyright">
    <p>
      Todos los derechos reservados 2021 - passaro.com.co - <a href="www.saki.com.co">Desarrollado por Saki</a>
    </p>
  </div>

</footer>
  