{{ 'section-lastest-products.css' | asset_url | stylesheet_tag }}

{% stylesheet %}
#lastest-products .titulo-con-divicion{
  font-family: var(--font-heading-family);
  color: rgb(var(--color-black));
  margin-bottom: 60px;
}

#lastest-products .titulo-con-divicion div{
  content: "";
  height: 2px;
  width: 73px;
  background: rgb(var(--color-gray));
  position: absolute;
  bottom: -15px;
}

#products-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#products-wrapper .product-wrapper{
  width: 400px;
}

#products-wrapper .product-wrapper .product-img{

}
#products-wrapper .product-wrapper .product-title{
  
}
#products-wrapper .product-wrapper .product-price{
  font-style:bold;
  font-size:20px;
}

{% endstylesheet %}


<section id="lastest-products">

  <h2 class="titulo-con-divicion{% if section.settings.title == blank %} title--no-heading{% endif %}">{{ section.settings.title | escape }}
    <div></div>
  </h2>
  
  
  <div id="products-wrapper">
    {% for product in collections.all.products %}
      <div class="product-wrapper">
        <img class="product-img"
            src="{{product.featured_image | img_url: '375x' }}"
            loading="lazy"
            alt="{{product.featured_image.alt | escape }}"
          >
        
        <div class="product-title">{{ product.title }}</div>
        <div class="product-price">{{ product.price | money_with_currency }}</div>
        
        
      </div>
    {% endfor %}
  </div>


</section>

{% javascript %}
{% endjavascript %}

{% schema %}
{
  "name": "t:sections.lastest-products.name",
  "class": "lastest-products",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.lastest-products.settings.title.label",
      "default": "Nueva colección"
    },
    {
      "type": "number",
      "id": "max_products",
      "label": "Products showed",
      "default": 6
    }
  ]
}
{% endschema %}