{{ 'section-lastest-products.css' | asset_url | stylesheet_tag }}

{% stylesheet %}
{% endstylesheet %}


<section id="lastest-products">

  <h2 class="titulo-con-divicion{% if section.settings.title == blank %} title--no-heading{% endif %}">{{ section.settings.title | escape }}
    <div></div>
  </h2>
  
  
  <div id="products-wrapper" class="row">
    {% for product in collections.all.products %}
      <div class="product-wrapper col m4 4 l4 s6 xs12">
        <div class="img-wrapper">
          <img class="product-img"
              src="{{product.featured_image | img_url: '375x' }}"
              loading="lazy"
              alt="{{product.featured_image.alt | escape }}"
            >
        </div>
        
        <div class="product-title">{{ product.title }}</div>
        <div class="product-price">{{ product.price | money_without_trailing_zeros }}</div>
      </div>
    {% endfor %}
  </div>
</section>

{% javascript %}
{% endjavascript %}

{% schema %}
{
  "name": "t:sections.lastest-products.name",
  "class": "lastest-products",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.lastest-products.settings.title.label",
      "default": "Nueva colección"
    },
    {
      "type": "number",
      "id": "max_products",
      "label": "Products showed",
      "default": 6
    }
  ]
}
{% endschema %}