{{ 'section-lastest-products.css' | asset_url | stylesheet_tag }}

{% stylesheet %}
#lastest-products .titulo-con-divicion{
  font-family: var(--font-heading-family);
  color: rgb(var(--color-black));
}
#lastest-products .titulo-con-divicion:after{
  content: "";
  width: 50px;
  height: 1px;
  border: 1px solid black;
}

#lastest-products #products-wrapper .product-wrapper{
  width: 200px;
}

#lastest-products #products-wrapper .product-wrapper .product-img{

}
#lastest-products #products-wrapper .product-wrapper .product-title{
  
}
#lastest-products #products-wrapper .product-wrapper .product-price{
  
}

{% endstylesheet %}


<section id="lastest-products">

  <h2 class="titulo-con-divicion{% if section.settings.title == blank %} title--no-heading{% endif %}">{{ section.settings.title | escape }}</h2>
  
  
  <div id="products-wrapper">
    {% for product in collections.all.products %}
      <div class="product-wrapper">
        <img class="product-img"
            srcset="{%- if product.featured_image.width >= 375 -%}{{product.featured_image | img_url: '375x' }} 375w,{%- endif -%}"
            sizes="{% if section.settings.image != blank and section.settings.stack_images_on_mobile %}(min-width: 750px) 50vw, 100vw{% elsif section.settings.image != blank %}50vw{% else %}100vw{% endif %}"
            src="{{product.featured_image | img_url: '1500x' }}"
            loading="lazy"
            alt="{{product.featured_image.alt | escape }}"
            width="{{product.featured_image.width }}"
            height="{{product.featured_image.width | divided_by:product.featured_image.aspect_ratio }}"
          >
        
        <div class="product-title">{{product.title}}</div>
        <div class="product-price">{{product.price}}</div>
        
        
      </div>
    {% endfor %}
  </div>


</section>

{% javascript %}
{% endjavascript %}

{% schema %}
{
  "name": "t:sections.lastest-products.name",
  "class": "lastest-products",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.lastest-products.settings.title.label",
      "default": "Nueva colección"
    },
    {
      "type": "number",
      "id": "max_products",
      "label": "Products showed",
      "default": 6
    }
  ]
}
{% endschema %}