{{ 'section-lunes-multicolor.css' | asset_url | stylesheet_tag }}

<section id="lunes-multicolor" class="promo-banner-section">

  <div class="promo-wrapper" {% unless section.settings.banner_img == blank %} style="background-color: #f00; background-image: url({{section.settings.banner_img | img_url: 'x388'}});"{% endunless%}>
    <div class="promo-img-wrapper">
      
      
    </div>
    <div class="promo-text-wrapper">
      <div class="promo-theme">{{section.settings.promo_theme}}</div>
      <div class="promo-title">{{section.settings.promo_title}}</div>
      <div class="promo-text">{{section.settings.promo_text}}</div>
      <a class="white-btn" href="{{section.settings.button_url}}">{{section.settings.button_label}}</a>
    </div>
  </div>
  
</section>

{% schema %}
{
  "name": "t:sections.lunes-multicolor.name",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "header",
      "content": "Activar/Desactivar sección"
    },
    { 
      "id": "show_section",
      "type": "checkbox",
      "label": "t:sections.lunes-multicolor.settings.show_section.label",
      "info": "IMPORTANTE: esta sección no se vera en el inicio si este campo esta desactivado.",
      "default": true
    },
    {
      "id": "banner_img",
      "type": "image_picker",
      "label": "t:sections.lunes-multicolor.settings.banner_img.label"
    },
    {
      "id": "promo_theme",
      "type": "text",
      "label": "t:sections.lunes-multicolor.settings.promo_theme.label",
      "default": "trending"
    },
    {
      "id": "promo_title",
      "type": "text",
      "label": "t:sections.lunes-multicolor.settings.promo_title.label",
      "default": "lunes multicolor"
    },
    {
      "id": "promo_text",
      "type": "textarea",
      "label": "t:sections.lunes-multicolor.settings.promo_text.label",
      "default": "Vestibulum feugiat libero est, ut ultrices diam accumsan et. Cras eleifend nec nisl sed bibendum. Sed vel velit lacus. Nulla varius purus id tortor gravida varius. Sed iaculis interdum nisi, nec faucibus metus iaculis id."
    },
    {
      "id": "button_label",
      "type": "text",
      "label": "t:sections.lunes-multicolor.settings.button_label.label",
      "default": "descubrir"
    },
    {
      "id": "button_url",
      "type": "url",
      "label": "t:sections.lunes-multicolor.settings.button_url.label"
    }
  ]
}
{% endschema %}
