{{ 'section-lunes-multicolor.css' | asset_url | stylesheet_tag }}

{%- if section.settings.show_section -%}
<section id="lunes-multicolor" class="promo-banner-section">

  <div class="promo-wrapper" 
    {% if section.settings.banner_img != blank %} 
      style="background-color: #f00; background-image: url({{section.settings.banner_img | img_url: '1920x'}});"
    {% endif%}>
    <div class="promo-img-wrapper">
      <img src="https://cdn.shopify.com/s/files/1/0592/9287/6983/files/LogoPassaro_blanco.png?v=1633967209" height="100%">
    </div>
    <div class="promo-text-wrapper">
      <div>
        <div class="promo-theme">{{section.settings.promo_theme}}</div>
        <div class="promo-title">{{section.settings.promo_title}}</div>
        <div class="promo-text">{{section.settings.promo_text}}</div>
        <a class="white-btn" href="{{section.settings.button_url}}">
          <span>
            {{section.settings.button_label}}
          </span>
        </a>
      </div>
    </div>
  </div>
  
</section>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.lunes-multicolor.name",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "header",
      "content": "Activar/Desactivar sección"
    },
    { 
      "id": "show_section",
      "type": "checkbox",
      "label": "t:sections.lunes-multicolor.settings.show_section.label",
      "info": "IMPORTANTE: esta sección no se vera en el inicio si este campo esta desactivado.",
      "default": true
    },
    {
    "type": "header",
    "content": "Contenido"
    },
    {
      "id": "promo_theme",
      "type": "text",
      "label": "t:sections.lunes-multicolor.settings.promo_theme.label",
      "default": "trending"
    },
    {
      "id": "promo_title",
      "type": "text",
      "label": "t:sections.lunes-multicolor.settings.promo_title.label",
      "default": "lunes multicolor"
    },
    {
      "id": "promo_text",
      "type": "textarea",
      "label": "t:sections.lunes-multicolor.settings.promo_text.label",
      "default": "Vestibulum feugiat libero est, ut ultrices diam accumsan et. Cras eleifend nec nisl sed bibendum. Sed vel velit lacus. Nulla varius purus id tortor gravida varius. Sed iaculis interdum nisi, nec faucibus metus iaculis id."
    },
    {
      "id": "button_label",
      "type": "text",
      "label": "t:sections.lunes-multicolor.settings.button_label.label",
      "default": "descubrir"
    },
    {
      "id": "button_url",
      "type": "url",
      "label": "t:sections.lunes-multicolor.settings.button_url.label"
    },
    {
    "type": "header",
    "content": "Estilo"
    },
    {
    "id": "banner_img",
    "type": "image_picker",
    "label": "t:sections.lunes-multicolor.settings.banner_img.label"
    },
    {
    "type": "color",
    "id": "background_color",
    "label": "Color del fondo",
    "default": "#ffffff"
    },
    {
    "type": "color",
    "id": "text_color",
    "label": "Color del texto",
    "default": "#000000"
    },
    {
    "type": "color",
    "id": "button_body_color",
    "label": "Color del fondo del boton",
    "default": "#001840"
    },
    {
    "type": "color",
    "id": "button_text_color",
    "label": "Color del texto del boton",
    "default": "#ffffff"
    }
  ]
}
{% endschema %}
