{{ 'section-lunes-multicolor.css' | asset_url | stylesheet_tag }}

{%- if section.settings.show_section -%}
<section id="lunes-multicolor" class="promo-banner-section">

  <div class="promo-wrapper" 
  style="background-color: rgb({{section.settings.background_color.red}}, {{section.settings.background_color.green}},  {{section.settings.background_color.blue}})">
    
    <div class="promo-text-wrapper">
      <div>
        <div class="promo-title" 
          style="color: rgb({{section.settings.text_color.red}}, {{section.settings.text_color.green}},  {{section.settings.text_color.blue}})">
          {{section.settings.promo_title}}</div>
        <div class="promo-text"
          style="color: rgb({{section.settings.text_color.red}}, {{section.settings.text_color.green}},  {{section.settings.text_color.blue}})">
          {{section.settings.promo_text}}</b></div>
        <div class="promo-discount"
          style="color: rgb({{section.settings.text_color.red}}, {{section.settings.text_color.green}},  {{section.settings.text_color.blue}})">
          {{section.settings.promo_discount_text}}</div>
        <a class="white-btn" href="{{section.settings.button_url}}"
          style="background-color: rgb({{section.settings.button_body_color.red}}, {{section.settings.button_body_color.green}},  {{section.settings.button_body_color.blue}})">
          <span style="color: rgb({{section.settings.button_text_color.red}}, {{section.settings.button_text_color.green}},  {{section.settings.button_text_color.blue}})">
            {{section.settings.button_label}}
          </span>
        </a>
      </div>
    </div>

    <div class="promo-img-wrapper small-hide">
      {% if section.settings.banner_img != blank %}
      <img src="{{section.settings.banner_img | img_url: 'x390'}}">
      {% else %}
      <img src="https://cdn.shopify.com/s/files/1/0592/9287/6983/files/placeholder_multicolor.jpg?v=1637944419">
      {% endif %}
    </div>
  </div>
  
</section>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.lunes-multicolor.name",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "header",
      "content": "Activar/Desactivar sección"
    },


    {
    "type": "header",
    "content": "Ajustes de estilo"
    },

    {
    "type": "color",
    "id": "background_color",
    "label": "Color del fondo",
    "default": "#E7E6E6"
    },
    {
    "type": "color",
    "id": "text_color",
    "label": "Color del texto",
    "default": "#001840"
    },
    {
    "type": "color",
    "id": "button_body_color",
    "label": "Color del fondo del boton",
    "default": "#001840"
    },
    {
    "type": "color",
    "id": "button_text_color",
    "label": "Color del texto del boton",
    "default": "#ffffff"
    },
    { 
      "id": "show_section",
      "type": "checkbox",
      "label": "t:sections.lunes-multicolor.settings.show_section.label",
      "info": "IMPORTANTE: esta sección no se vera en el inicio si este campo esta desactivado.",
      "default": true
    },


    {
    "type": "header",
    "content": "Ajustes de contenido"
    },

    {
    "id": "banner_img",
    "type": "image_picker",
    "label": "t:sections.lunes-multicolor.settings.banner_img.label"
    },
    {
      "id": "promo_title",
      "type": "richtext",
      "label": "t:sections.lunes-multicolor.settings.promo_title.label"
    },
    {
      "id": "promo_text",
      "type": "richtext",
      "label": "t:sections.lunes-multicolor.settings.promo_text.label"
    },
    {
      "id": "promo_discount_text",
      "type": "richtext",
      "label": "t:sections.lunes-multicolor.settings.promo_discount_text.label"
    },
    {
      "id": "button_label",
      "type": "text",
      "label": "t:sections.lunes-multicolor.settings.button_label.label",
      "default": "descubrir"
    },
    {
      "id": "button_url",
      "type": "url",
      "label": "t:sections.lunes-multicolor.settings.button_url.label"
    }
    
  ]
}
{% endschema %}
