<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

<div class="page-width">
  <h1 class="main-page-title page-title h0 titulo-con-division">
    {{ page.title | escape }}
    <div></div>
  </h1>
  <div class="rte">
    
    <!-- {{ page.content }} -->


    <div class="grid grid--2-col">

      <div class="grid__item">
        <div class="grid--1-col">

          <h2 class="grid__item">
            <div class="hcenter">
              NORTE
            </div>
          </h2>

          <div class="grid__item">

            <div class="row-inner row-level-2 container">
              <div class="row  clearfix">
                <div class="col-xl-4 col-lg-4 col-sm-6 col-xs-12">
                  <div class="col-inner  ">
                    <div class="pk-widget widget-image">
                      <div class="pts-widget" id="wid-key_1601127021856">
                        <div class="widget-images relative block   title_left">
                          <div class="widget-inner block_content text-left justify-content-left">
                            <div class="image-item psp-image-item animated default" data-animation="default">
                              <img class="smooth05 w-100"
                                src="https://cdn.shopify.com/s/files/1/0592/9287/6983/files/tienda-fisica.png?v=1635948535"
                                width="250" height="250" alt="" title="">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="col-xl-8 col-lg-4 col-sm-6 col-xs-12">
                  <div class="col-inner  ">
                    <div class="pk-widget widget-html">
                      <div class="pts-widget" id="wid-key_1600832987788">
                        <div class="widget-html block   title_left">
                          <div class="widget-inner block_content text-left justify-content-left">
                            <p class="MsoNoSpacing"><b><span
                                  style="font-size: 14.0pt; mso-fareast-language: ES-CO;">Templete<o:p></o:p></span></b>
                            </p>
                            <ul>
                              <li><span style="mso-fareast-language: ES-CO;">Calle 6 No. 38 - 15</span></li>
                              <li><span style="mso-fareast-language: ES-CO;">L-V 8:30 a 7PM I Sáb. 9:00 a 6:00 pm</span>
                              </li>
                              <li><span style="mso-fareast-language: ES-CO;">Tel: 387 23 13</span></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>


          </div>
          <div class="grid__item">

            <div class="row-inner row-level-2 container">
              <div class="row  clearfix">
                <div class="col-xl-4 col-lg-4 col-sm-6 col-xs-12">
                  <div class="col-inner  ">
                    <div class="pk-widget widget-image">
                      <div class="pts-widget" id="wid-key_1601127021856">
                        <div class="widget-images relative block   title_left">
                          <div class="widget-inner block_content text-left justify-content-left">
                            <div class="image-item psp-image-item animated default" data-animation="default">
                              <img class="smooth05 w-100"
                                src="https://cdn.shopify.com/s/files/1/0592/9287/6983/files/tienda-fisica.png?v=1635948535"
                                width="250" height="250" alt="" title="">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="col-xl-8 col-lg-4 col-sm-6 col-xs-12">
                  <div class="col-inner  ">
                    <div class="pk-widget widget-html">
                      <div class="pts-widget" id="wid-key_1600832987788">
                        <div class="widget-html block   title_left">
                          <div class="widget-inner block_content text-left justify-content-left">
                            <p class="MsoNoSpacing"><b><span
                                  style="font-size: 14.0pt; mso-fareast-language: ES-CO;">Templete<o:p></o:p></span></b>
                            </p>
                            <ul>
                              <li><span style="mso-fareast-language: ES-CO;">Calle 6 No. 38 - 15</span></li>
                              <li><span style="mso-fareast-language: ES-CO;">L-V 8:30 a 7PM I Sáb. 9:00 a 6:00 pm</span>
                              </li>
                              <li><span style="mso-fareast-language: ES-CO;">Tel: 387 23 13</span></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>


          </div>
          <div class="grid__item">

            <div class="row-inner row-level-2 container">
              <div class="row  clearfix">
                <div class="col-xl-4 col-lg-4 col-sm-6 col-xs-12">
                  <div class="col-inner  ">
                    <div class="pk-widget widget-image">
                      <div class="pts-widget" id="wid-key_1601127021856">
                        <div class="widget-images relative block   title_left">
                          <div class="widget-inner block_content text-left justify-content-left">
                            <div class="image-item psp-image-item animated default" data-animation="default">
                              <img class="smooth05 w-100"
                                src="https://cdn.shopify.com/s/files/1/0592/9287/6983/files/tienda-fisica.png?v=1635948535"
                                width="250" height="250" alt="" title="">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="col-xl-8 col-lg-4 col-sm-6 col-xs-12">
                  <div class="col-inner  ">
                    <div class="pk-widget widget-html">
                      <div class="pts-widget" id="wid-key_1600832987788">
                        <div class="widget-html block   title_left">
                          <div class="widget-inner block_content text-left justify-content-left">
                            <p class="MsoNoSpacing"><b><span
                                  style="font-size: 14.0pt; mso-fareast-language: ES-CO;">Templete<o:p></o:p></span></b>
                            </p>
                            <ul>
                              <li><span style="mso-fareast-language: ES-CO;">Calle 6 No. 38 - 15</span></li>
                              <li><span style="mso-fareast-language: ES-CO;">L-V 8:30 a 7PM I Sáb. 9:00 a 6:00 pm</span>
                              </li>
                              <li><span style="mso-fareast-language: ES-CO;">Tel: 387 23 13</span></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>


          </div>
          <div class="grid__item">

            <div class="row-inner row-level-2 container">
              <div class="row  clearfix">
                <div class="col-xl-4 col-lg-4 col-sm-6 col-xs-12">
                  <div class="col-inner  ">
                    <div class="pk-widget widget-image">
                      <div class="pts-widget" id="wid-key_1601127021856">
                        <div class="widget-images relative block   title_left">
                          <div class="widget-inner block_content text-left justify-content-left">
                            <div class="image-item psp-image-item animated default" data-animation="default">
                              <img class="smooth05 w-100"
                                src="https://cdn.shopify.com/s/files/1/0592/9287/6983/files/tienda-fisica.png?v=1635948535"
                                width="250" height="250" alt="" title="">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="col-xl-8 col-lg-4 col-sm-6 col-xs-12">
                  <div class="col-inner  ">
                    <div class="pk-widget widget-html">
                      <div class="pts-widget" id="wid-key_1600832987788">
                        <div class="widget-html block   title_left">
                          <div class="widget-inner block_content text-left justify-content-left">
                            <p class="MsoNoSpacing"><b><span
                                  style="font-size: 14.0pt; mso-fareast-language: ES-CO;">Templete<o:p></o:p></span></b>
                            </p>
                            <ul>
                              <li><span style="mso-fareast-language: ES-CO;">Calle 6 No. 38 - 15</span></li>
                              <li><span style="mso-fareast-language: ES-CO;">L-V 8:30 a 7PM I Sáb. 9:00 a 6:00 pm</span>
                              </li>
                              <li><span style="mso-fareast-language: ES-CO;">Tel: 387 23 13</span></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>


          </div>
          <div class="grid__item">

            <div class="row-inner row-level-2 container">
              <div class="row  clearfix">
                <div class="col-xl-4 col-lg-4 col-sm-6 col-xs-12">
                  <div class="col-inner  ">
                    <div class="pk-widget widget-image">
                      <div class="pts-widget" id="wid-key_1601127021856">
                        <div class="widget-images relative block   title_left">
                          <div class="widget-inner block_content text-left justify-content-left">
                            <div class="image-item psp-image-item animated default" data-animation="default">
                              <img class="smooth05 w-100"
                                src="https://cdn.shopify.com/s/files/1/0592/9287/6983/files/tienda-fisica.png?v=1635948535"
                                width="250" height="250" alt="" title="">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="col-xl-8 col-lg-4 col-sm-6 col-xs-12">
                  <div class="col-inner  ">
                    <div class="pk-widget widget-html">
                      <div class="pts-widget" id="wid-key_1600832987788">
                        <div class="widget-html block   title_left">
                          <div class="widget-inner block_content text-left justify-content-left">
                            <p class="MsoNoSpacing"><b><span
                                  style="font-size: 14.0pt; mso-fareast-language: ES-CO;">Templete<o:p></o:p></span></b>
                            </p>
                            <ul>
                              <li><span style="mso-fareast-language: ES-CO;">Calle 6 No. 38 - 15</span></li>
                              <li><span style="mso-fareast-language: ES-CO;">L-V 8:30 a 7PM I Sáb. 9:00 a 6:00 pm</span>
                              </li>
                              <li><span style="mso-fareast-language: ES-CO;">Tel: 387 23 13</span></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>


          </div>
        </div>
      </div>

      <div class="grid__item">
        <div class="grid--1-col">

          <h2 class="grid__item">
            <div class="hcenter">
              SUR
            </div>
          </h2>

          <div class="grid__item">

            <div class="row-inner row-level-2 container">
              <div class="row  clearfix">
                <div class="col-xl-4 col-lg-4 col-sm-6 col-xs-12">
                  <div class="col-inner  ">
                    <div class="pk-widget widget-image">
                      <div class="pts-widget" id="wid-key_1601127021856">
                        <div class="widget-images relative block   title_left">
                          <div class="widget-inner block_content text-left justify-content-left">
                            <div class="image-item psp-image-item animated default" data-animation="default">
                              <img class="smooth05 w-100"
                                src="https://cdn.shopify.com/s/files/1/0592/9287/6983/files/tienda-fisica.png?v=1635948535"
                                width="250" height="250" alt="" title="">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="col-xl-8 col-lg-4 col-sm-6 col-xs-12">
                  <div class="col-inner  ">
                    <div class="pk-widget widget-html">
                      <div class="pts-widget" id="wid-key_1600832987788">
                        <div class="widget-html block   title_left">
                          <div class="widget-inner block_content text-left justify-content-left">
                            <p class="MsoNoSpacing"><b><span
                                  style="font-size: 14.0pt; mso-fareast-language: ES-CO;">Templete<o:p></o:p></span></b>
                            </p>
                            <ul>
                              <li><span style="mso-fareast-language: ES-CO;">Calle 6 No. 38 - 15</span></li>
                              <li><span style="mso-fareast-language: ES-CO;">L-V 8:30 a 7PM I Sáb. 9:00 a 6:00 pm</span>
                              </li>
                              <li><span style="mso-fareast-language: ES-CO;">Tel: 387 23 13</span></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>


          </div>
          <div class="grid__item">

            <div class="row-inner row-level-2 container">
              <div class="row  clearfix">
                <div class="col-xl-4 col-lg-4 col-sm-6 col-xs-12">
                  <div class="col-inner  ">
                    <div class="pk-widget widget-image">
                      <div class="pts-widget" id="wid-key_1601127021856">
                        <div class="widget-images relative block   title_left">
                          <div class="widget-inner block_content text-left justify-content-left">
                            <div class="image-item psp-image-item animated default" data-animation="default">
                              <img class="smooth05 w-100"
                                src="https://cdn.shopify.com/s/files/1/0592/9287/6983/files/tienda-fisica.png?v=1635948535"
                                width="250" height="250" alt="" title="">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="col-xl-8 col-lg-4 col-sm-6 col-xs-12">
                  <div class="col-inner  ">
                    <div class="pk-widget widget-html">
                      <div class="pts-widget" id="wid-key_1600832987788">
                        <div class="widget-html block   title_left">
                          <div class="widget-inner block_content text-left justify-content-left">
                            <p class="MsoNoSpacing"><b><span
                                  style="font-size: 14.0pt; mso-fareast-language: ES-CO;">Templete<o:p></o:p></span></b>
                            </p>
                            <ul>
                              <li><span style="mso-fareast-language: ES-CO;">Calle 6 No. 38 - 15</span></li>
                              <li><span style="mso-fareast-language: ES-CO;">L-V 8:30 a 7PM I Sáb. 9:00 a 6:00 pm</span>
                              </li>
                              <li><span style="mso-fareast-language: ES-CO;">Tel: 387 23 13</span></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>


          </div>
          <div class="grid__item">

            <div class="row-inner row-level-2 container">
              <div class="row  clearfix">
                <div class="col-xl-4 col-lg-4 col-sm-6 col-xs-12">
                  <div class="col-inner  ">
                    <div class="pk-widget widget-image">
                      <div class="pts-widget" id="wid-key_1601127021856">
                        <div class="widget-images relative block   title_left">
                          <div class="widget-inner block_content text-left justify-content-left">
                            <div class="image-item psp-image-item animated default" data-animation="default">
                              <img class="smooth05 w-100"
                                src="https://cdn.shopify.com/s/files/1/0592/9287/6983/files/tienda-fisica.png?v=1635948535"
                                width="250" height="250" alt="" title="">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="col-xl-8 col-lg-4 col-sm-6 col-xs-12">
                  <div class="col-inner  ">
                    <div class="pk-widget widget-html">
                      <div class="pts-widget" id="wid-key_1600832987788">
                        <div class="widget-html block   title_left">
                          <div class="widget-inner block_content text-left justify-content-left">
                            <p class="MsoNoSpacing"><b><span
                                  style="font-size: 14.0pt; mso-fareast-language: ES-CO;">Templete<o:p></o:p></span></b>
                            </p>
                            <ul>
                              <li><span style="mso-fareast-language: ES-CO;">Calle 6 No. 38 - 15</span></li>
                              <li><span style="mso-fareast-language: ES-CO;">L-V 8:30 a 7PM I Sáb. 9:00 a 6:00 pm</span>
                              </li>
                              <li><span style="mso-fareast-language: ES-CO;">Tel: 387 23 13</span></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>


          </div>
        </div>
      </div>

    </div>


  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "spaced-section"
}
{% endschema %}
