<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

<div class="page-width page-width--narrow">
  <h1 class="main-page-title page-title h0 titulo-con-division">
    {{ page.title | escape }}
    <div></div>
  </h1>
  <div class="rte">
    {{ page.content }}

    <div class="grid grid--2-col">
      <div class="grid__item">
        <div class="grid grid--1-col">
          <h2 class="grid__item">NORTE</h2>

          <div class="grid__item">
            Sexta
          </div>
          <div class="grid__item">
            Américas
          </div>
          <div class="grid__item">
            Santa Mónica
          </div>
          <div class="grid__item">
            Av. Estación
          </div>
          <div class="grid__item">
            Versalles
          </div>

          
        </div>
      </div>
      <div class="grid__item">
        <div class="grid grid--1-col">
          <h2 class="grid__item">SUR</h2>

          <div class="grid__item">
            Templete
          </div>
          <div class="grid__item">
            Roosevelt
          </div>
          <div class="grid__item">
            Pasoancho 
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "spaced-section"
}
{% endschema %}
