{{ 'section-new-collection.css' | asset_url | stylesheet_tag }}
<script src="{{ 'add-to-cart.js' | asset_url }}" defer="defer"></script>






{% for product in collections.all.products %}
  {{- product.title -}}
  la idea es la siguiente:

  aparecen los botones con la lista de colores, al seleccionar uno...
  sale la lista de tallas

  <form method="post" action="/cart/add">
    {% if product.variants.size > 1 %}

      {% for option in product.options %}
        <label for="SingleOptionSelector-{{forloop.index0}}"> {{ option }} </label>
        <select id="SingleOptionSelector-{{forloop.index0}}" 
                class="single-option-selector single-option-selector-product-template product-form__input" 
                data-index="option{{forloop.index}}" 
                name="id">
          {% capture option_index %}option{{ forloop.index }}{% endcapture %} 
          {% assign option_values = product.variants | map: option_index | uniq %}
          {% for choice in option_values %}
            <option value="{{ choice }}"> {{ choice }} </option>
          {% endfor %}
        </select>
      {% endfor %}

      ciclo de todas las variantes
      <select id="ProductSelect-product-template" class="" name="id" data-productid="{{product.id}}">
        {% for option in product.variants %}
          <option value="{{option.id}}" handle="{{option.handle}}"> {{option.title}} - {{option.handle}}</option>
        {% endfor %}
      </select>

    {% endif %}
    
    <input min="1" type="number" id="quantity" name="quantity" value="1"/>
    <input type="submit" value="Add to cart" class="btn" />
  </form>
  
  {% assign product_handle = product.handle %}

  {% if product.variants.size > 1 %}
    {{product.id}}
      {% for option in product.variants %}
        {% assign variant_id = option.id %}

        <p>{{option.id}} - {{option.title}} - {{product_handle}}</p>
  
        {% assign product = all_products[product_handle] %}
        {% assign my_variant = product.variants | where: 'id', variant_id | first %}

        {{ my_variant | json }}

      {% endfor %}
    </select>
  {% endif %}


{% comment %} 
// Retrieve the product data using Shopify's frontend API endpoint
fetch('/products/' + product_handle + '.js').then(function(response){ return response.json() }).then( 
  function(product){
    let variant = product.variants.find(function(variant){ return variant.id == variant_id })
    // Do stuff with your product & variant objects
  }
)
{% endcomment %}

{% endfor %}

<section id="new-collection" class="container-fluid">
  <h2 class="titulo-con-division{% if section.settings.title == blank %} title--no-heading{% endif %}">{{ section.settings.title | escape }}
    <div></div>
  </h2>
  
  
  {% assign product_num = 1 %}
  <div id="products-wrapper" class="row">
    {% for product in collections.all.products limit:section.settings.max_products %}
      
      <pre>
        {{product | json}}
      </pre>

      <div class="product-wrapper col xs12 s12 m6 l4 xl4">
        <div class="product-img-wrapper">
          <a href="{{product.url}}" class="img-wrapper">
            <img class="product-img"
                src="{{product.featured_image | img_url: '375x' }}"
                loading="lazy"
                alt="{{product.featured_image.alt | escape }}"
              >
          </a>
          {% comment %} <div class="agregar" value="{{ product.variants.first.id }}">+</div> {% endcomment %}
          <form action="/cart/add" method="post" id="product-form-{{- product.id -}}">
            <input type="hidden" name="id" value="{{ product.variants.first.id }}">
            <div>
              <button type="button" name="add" class="agregar" product-id="{{ product.id }}" product-variant-id="{{ product.variants.first.id }}">+</button>
            </div>
          </form>
          <div class="product-sizes">
            {% assign first_size = product.variants[0].option2%}
            {% assign actual_size = '' %}
            {% assign first_size_counter = 0%}
            {{first_size}}
            {% for option in product.variants %}
              
              {% if first_size == actual_size %}
                igualito
                {% assign first_size_counter = first_size_counter | plus: 1 %}
                {{first_size_counter}}
              {% endif %}

              <div variant_id="{{option.id}}"  variant_size="{{option.option2}}" >
                {{option.option2}}
              </div>
            
            {% endfor %}
          </div>
        </div>

        <div class="product-colors">
          {% assign last_img = ''%}
          {% for option in product.variants %}
            {% assign actual_img = option.featured_media.preview_image.src%}
            {% unless last_img == actual_img %}  
              {% assign last_img = actual_img%}
              <div variant_id="{{option.id}}"  variant_color="{{option.option1}}" variant_img_src="{{actual_img}}">
                <img class="variant-img"
                      src="{{actual_img | img_url: '25x' }}"
                      loading="lazy"
                    >
              </div>
            {% endunless %}
          {% endfor %}
        </div>
        <div class="product-title">{{ product.title }}</div>
        <div class="product-price">{{ product.price | money_without_trailing_zeros }}</div>
      </div>

    {% endfor %}
  </div>

  <div class="row">
    <div class="col xs12 s12 m12 l12 xl12">
      <a id="btn-ver-catalogo" href="{{section.settings.final_button_url}}">{{section.settings.final_button_label}}</a>
    </div>
  </div>
</section>


{% schema %}
{
  "name": "t:sections.new-collection.name",
  "class": "new-collection",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.new-collection.settings.title.label",
      "default": "Título de la sección"
    },
    {
      "type": "select",
      "id": "max_products",
      "options": [
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "6",
          "label": "6"
        },
        {
          "value": "9",
          "label": "9"
        }
      ],
      "default": "6",
      "label": "t:sections.new-collection.settings.max_products.label"
    },
    {
      "type": "text",
      "id": "final_button_label",
      "label": "t:sections.new-collection.settings.final_button_label.label",
      "default": "ver el catálogo"
    },
    {
      "type": "url",
      "id": "final_button_url",
      "label": "t:sections.new-collection.settings.final_button_url.label"
    }
  ]
}
{% endschema %}