{{ 'section-new-collection.css' | asset_url | stylesheet_tag }}

{% stylesheet %}
{% endstylesheet %}


<section id="new-collection" class="container-fluid">
  <h2 class="titulo-con-divicion{% if section.settings.title == blank %} title--no-heading{% endif %}">{{ section.settings.title | escape }}
    <div></div>
  </h2>
  
  
  {% assign product_num = 1 %}
  <div id="products-wrapper" class="row">
    {% for product in collections.all.products limit:section.settings.max_products %}
            
      <div class="product-wrapper col xs12 s12 m6 l4 xl4">
        <a href="{{product.url}}" class="img-wrapper">
          <img class="product-img"
              src="{{product.featured_image | img_url: '375x' }}"
              loading="lazy"
              alt="{{product.featured_image.alt | escape }}"
            >
          {% comment %} <div class="agregar" value="{{ product.variants.first.id }}">+</div> {% endcomment %}
          <form action="/cart/add" method="post" id="product-form- {{ product.id }}">
            <input type="hidden" name="id" value="{{ product.variants.first.id }}">
            <div>
              <button type="submit" name="add" class="agregar">Add to cart</button>
            </div>
          </form>
        </a>
        
        <div class="product-title">{{ product.title }}</div>
        <div class="product-price">{{ product.price | money_without_trailing_zeros }}</div>
      </div>

    {% endfor %}
  </div>
</section>

{% javascript %}
console.log("la puta");
{% endjavascript %}

{% schema %}
{
  "name": "t:sections.new-collection.name",
  "class": "new-collection",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.new-collection.settings.title.label",
      "default": "Nueva colección"
    },
    {
      "type": "select",
      "id": "max_products",
      "options": [
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "6",
          "label": "6"
        },
        {
          "value": "9",
          "label": "9"
        }
      ],
      "default": "6",
      "label": "t:sections.new-collection.settings.max_products.label"
    }
  ]
}
{% endschema %}