{{ 'section-seasonal-offers.css' | asset_url | stylesheet_tag }}

{% stylesheet %}
{% endstylesheet %}

<section id="sesional-offers">
  <h2 class="titulo-con-division{% if section.settings.title == blank %} title--no-heading{% endif %}">{{ section.settings.title | escape }}
    <div></div>
  </h2>
  
  <!-- Slider main container -->
  <div class="seasonal-swiper-container container-fluid">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      {% for product in collections.descuentos-de-temporada.products %}
          <!-- product info -->
          <div class="swiper-slide" >

            <a href="{{product.url}}"  class="product-offer-wrapper">

            <div class="image-wrapper">
              {% if product.featured_image != blank %}
                <img class="product-img"
                  src="{{product.featured_image | img_url: '375x' }}"
                  loading="lazy"
                  alt="{{product.featured_image.alt | escape }}"
                >
              {% else %}
                {{ 'product-1' | placeholder_svg_tag}}
              {% endif %}

              <div class="card__badge">
                {%- if product.available == false -%}
                  <span class="badge badge--bottom-left color-{{ settings.sold_out_badge_color_scheme }}" aria-hidden="true">{{ 'products.product.sold_out' | t }}</span>
                {%- elsif product.compare_at_price > product.price and product.available -%}
                  <span class="badge badge--top-left color-green pecentual-discount" aria-hidden="true">-{{ product.compare_at_price_max | minus: product.price | times: 100 | divided_by: product.compare_at_price_max }}%</span>
                {%- endif -%}
              </div>

              <form action="/cart/add" method="post" id="product-form-{{ product.id }}" class="add-to-cart-form-btn">
                <input type="hidden" name="id" value="{{ product.variants.first.id }}">
                <div>
                  <button type="button" name="add" class="agregar" id="product-form- {{ product.id }}" value="{{ product.variants.first.id }}">+</button>
                </div>
              </form>
            </div>

            <div class="info-wrapper">
              <h3 class="product-title">{{ product.title }}</h3>
              <div class="price-wrapper">
              {% if product.compare_at_price > product.price %}
                <div class="product-price">{{- product.price | money_without_trailing_zeros -}}</div>
                {% if section.settings.show_compare_price %}
                  <div class="product-compare-price">{{- product.compare_at_price | money_without_trailing_zeros -}}</div>
                {% endif %}
              {% else %}
                <div class="product-price">{{- product.price | money_without_trailing_zeros -}}</div>
              {% endif %}
              </div>
            </div>
          </a><!-- .product-offer-wrapper -->
          </div>

      {% endfor %}   
    </div>

  </div> 
  
</section>

{% javascript %}
const swiper = new Swiper('.seasonal-swiper-container', 
{
  // Optional parameters
  loop: true,
  spaceBetween: 5,
  slidesPerView: 5,
  centeredSlides: false,
  grabCursor: true,
  freeMode: true,
});
{% endjavascript %}

{% schema %}
{
  "name": "t:sections.seasonal-offers.name",
  "settings": [
    {
      "id": "title",
      "type": "text",
      "label": "t:sections.seasonal-offers.settings.title.label",
      "default": "Ofertas de temporada"
    },
    {
      "id": "show_compare_price",
      "type": "checkbox",
      "label": "t:sections.seasonal-offers.settings.show_compare_price.label",
      "default": false
    }
  ]
}
{% endschema %}