{{ 'section-seasonal-offers.css' | asset_url | stylesheet_tag }}

{% stylesheet %}
{% endstylesheet %}

<section id="sesional-offers">
  <h2 class="titulo-con-division{% if section.settings.title == blank %} title--no-heading{% endif %}">{{ section.settings.title | escape }}
    <div></div>
  </h2>
  
  <!-- Slider main container -->
  <div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      {% assign mas_abajito = false %}
      {% assign collection_to_show = 3 %}
      {% for product in collections.descuentos-de-temporada.products %}

          <!-- product info -->
          <div class="swiper-slide" >

            <div class="title-container">
              <div class="titulo">
                {{product.title}}
              </div>
              <a href="{{product.url}}">COMPRAR</a>
            </div>

            {% if product.featured_image != blank %}
              <img class="product-img"
                src="{{product.featured_image | img_url: '375x' }}"
                loading="lazy"
                alt="{{product.featured_image.alt | escape }}"
              >
            {% else %}
              {{ 'product-1' | placeholder_svg_tag}}
            {% endif %}

          </div>

      {% endfor %}   
    </div>

  </div> 
  
</section>

{% javascript %}
const swiper = new Swiper('.swiper-container', 
{
  // Optional parameters
  loop: true,
  slidesPerView: 1,
  slidesPerGroup: 1,
  spaceBetween: 50,
  loopFillGroupWithBlank: true,
  centeredSlides: true,
  
  navigation: {
    nextEl: ".swiper-button-next",
    prevEl: ".swiper-button-prev",
  },
  scrollbar: {
    el: ".swiper-scrollbar",
    hide: true,
  },

  breakpoints: {
    870: {
      slidesPerView: 2,
      slidesPerGroup: 2,
      spaceBetween: 10,
      centeredSlides: false,
    },
    1235: {
      slidesPerView: 3,
      slidesPerGroup: 3,
      spaceBetween: 50,
      centeredSlides: false,
    },

  },
});
{% endjavascript %}

{% schema %}
{
  "name": "t:sections.seasonal-offers.name",
  "settings": [
    {
      "id": "title",
      "type": "text",
      "label": "t:sections.seasonal-offers.settings.title.label",
      "default": "Ofertas de temporada"
    }
  ]
}
{% endschema %}