{{ 'section-seasonal-offers.css' | asset_url | stylesheet_tag }}

{% stylesheet %}
{% endstylesheet %}

<section id="sesional-offers">
  <h2 class="titulo-con-division{% if section.settings.title == blank %} title--no-heading{% endif %}">{{ section.settings.title | escape }}
    <div></div>
  </h2>
  
  <!-- Slider main container -->
  <div class="seasonal-swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      {% assign mas_abajito = false %}
      {% assign collection_to_show = 3 %}
      {% for product in collections.descuentos-de-temporada.products %}
          <pre>{{product | json}}</pre>
          <!-- product info -->
          <a href="{{product.url}}" class="swiper-slide" >

            {% if product.featured_image != blank %}
              <img class="product-img"
                src="{{product.featured_image | img_url: '375x' }}"
                loading="lazy"
                alt="{{product.featured_image.alt | escape }}"
              >
            {% else %}
              {{ 'product-1' | placeholder_svg_tag}}
            {% endif %}

            <div class="product-title">{{ product.title }}</div>
            <div class="product-price">{{ product.price | money_without_trailing_zeros }}</div>
          </a>

      {% endfor %}   
    </div>

  </div> 
  
</section>

{% javascript %}
const swiper = new Swiper('.seasonal-swiper-container', 
{
  // Optional parameters
  loop: true,
  spaceBetween: 5,
  slidesPerView: 5,
  centeredSlides: false,
  grabCursor: true,
  freeMode: true,
});
{% endjavascript %}

{% schema %}
{
  "name": "t:sections.seasonal-offers.name",
  "settings": [
    {
      "id": "title",
      "type": "text",
      "label": "t:sections.seasonal-offers.settings.title.label",
      "default": "Ofertas de temporada"
    }
  ]
}
{% endschema %}