{{ 'section-seasonal-offers.css' | asset_url | stylesheet_tag }}

{% stylesheet %}
{% endstylesheet %}

<section id="sesional-offers">
  <h2 class="titulo-con-division{% if section.settings.title == blank %} title--no-heading{% endif %}">{{ section.settings.title | escape }}
    <div></div>
  </h2>
  
  <!-- Slider main container -->
  <div class="seasonal-swiper-container container-fluid">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      {% for product in collections.descuentos-de-temporada.products %}
          <!-- product info -->
          <div class="product-wrapper swiper-slide" variant_color="{{product.variants.first.option1}}" variant_size="{{product.variants.first.option2}}">
            
            
            <div class="product-img-wrapper">
              <a href="{{product.url}}" class="img-wrapper">
                {% if product.featured_image != blank %}
                  <img class="product-img"
                    src="{{product.featured_image | img_url: '375x' }}"
                    loading="lazy"
                    alt="{{product.featured_image.alt | escape }}"
                  >
                {% else %}
                  {{ 'product-1' | placeholder_svg_tag}}
                {% endif %}
                
                <div class="card__badge">
                  {%- if product.available == false -%}
                    <span class="badge badge--bottom-left color-{{ settings.sold_out_badge_color_scheme }}" aria-hidden="true">{{ 'products.product.sold_out' | t }}</span>
                  {%- elsif product.compare_at_price > product.price and product.available -%}
                    <span class="badge badge--top-left color-green pecentual-discount" aria-hidden="true">-{{ product.compare_at_price_max | minus: product.price | times: 100 | divided_by: product.compare_at_price_max }}%</span>
                  {%- endif -%}
                </div>
              </a>
              
              <div class="show-variant">+</div>
              
              <div class="variant-pickers hide">
                <h5>Tallas</h5>
                <div class="product-sizes">
                  {% assign first_size = product.variants[0].option2%}
                  {% assign first_size_counter = 0%}
                  {% for option in product.variants %}
                    {% if first_size == option.option2 %}
                      {% assign first_size_counter = first_size_counter | plus: 1 %}
                      {% if first_size_counter > 1 %}
                        {% break %}
                      {% endif %}
                    {% endif %}

                    <div variant_size="{{option.option2}}" class="size-picker {% if forloop.first == true %}active{% endif %}">
                      {{option.option2}}
                    </div>
                  
                  {% endfor %}
                </div>        
                <select id="{{product.id}}-variant-selector" class="hidden" data-productid="{{product.id}}">
                  {% for option in product.variants %}
                    <option value="{{option.id}}" handle="{{product.handle}}" variant="{{-option.title-}}"> {{option.title}}</option>
                  {% endfor %}
                </select>
                <div class="agregar-al-carrito blue-btn">AGREGAR AL CARRITO</div>
                



                <product-form class="product-form">
                  {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                    <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                    <div class="product-form__buttons">
                      <button
                        type="submit"
                        name="add"
                        class="product-form__submit button button--full-width {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}"
                      {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                      >
                          {%- if product.selected_or_first_available_variant.available -%}
                            {{ 'products.product.add_to_cart' | t }}
                          {%- else -%}
                            {{ 'products.product.sold_out' | t }}
                          {%- endif -%}
                      </button>
                      {%- if block.settings.show_dynamic_checkout -%}
                        {{ form | payment_button }}
                      {%- endif -%}
                    </div>
                  {%- endform -%}
                </product-form>





              </div><!-- end variant-pickers -->
              
            </div>

            <div class="product-colors">
              {% assign last_img = ''%}
              {% for option in product.variants %}
                {% assign actual_img = option.featured_media.preview_image.src %}
                
                {% unless last_img == actual_img %}  
                  {% assign last_img = actual_img%}
                  <div class="variant-color-swatch {% if forloop.first == true %}active{% endif %}" variant_color="{{option.option1}}" variant_img_src="{{actual_img | img_url: '375x' }}">
                    <img class="variant-img"
                          src="{{actual_img | img_url: '50x' , format: 'pjpg'}}"
                          loading="lazy"
                        >
                  </div>
                {% endunless %}
              {% endfor %}
            </div>
            
            <div class="product-title">{{ product.title }}</div>
            <div class="product-price">{{ product.price | money_without_trailing_zeros }}</div>   





          </div><!-- END swiper-slide -->

      {% endfor %}   
    </div>

  </div> 
  
</section>

{% javascript %}
const swiper = new Swiper('.seasonal-swiper-container', 
{
  // Optional parameters
  loop: true,
  spaceBetween: 5,
  slidesPerView: 5,
  centeredSlides: false,
  grabCursor: true,
  freeMode: true,
});
{% endjavascript %}

{% schema %}
{
  "name": "t:sections.seasonal-offers.name",
  "settings": [
    {
      "id": "title",
      "type": "text",
      "label": "t:sections.seasonal-offers.settings.title.label",
      "default": "Ofertas de temporada"
    },
    {
      "id": "show_compare_price",
      "type": "checkbox",
      "label": "t:sections.seasonal-offers.settings.show_compare_price.label",
      "default": false
    }
  ]
}
{% endschema %}