{{ 'section-seasonal-offers.css' | asset_url | stylesheet_tag }}

{% stylesheet %}
{% endstylesheet %}

<section id="sesional-offers">
  <h2 class="titulo-con-division{% if section.settings.title == blank %} title--no-heading{% endif %}">{{ section.settings.title | escape }}
    <div></div>
  </h2>
  
  <!-- Slider main container -->
  <div class="seasonal-swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      {% assign mas_abajito = false %}
      {% assign collection_to_show = 3 %}
      {% for product in collections.descuentos-de-temporada.products %}

          <!-- product info -->
          <a href="{{product.url}}" class="swiper-slide" >

            <div class="image-wrapper">
              {% if product.featured_image != blank %}
                <img class="product-img"
                  src="{{product.featured_image | img_url: '375x' }}"
                  loading="lazy"
                  alt="{{product.featured_image.alt | escape }}"
                >
              {% else %}
                {{ 'product-1' | placeholder_svg_tag}}
              {% endif %}
            </div>

            <div class="info-wrapper">
              <div class="card__badge">
                {%- if product.available == false -%}
                  <span class="badge badge--bottom-left color-{{ settings.sold_out_badge_color_scheme }}" aria-hidden="true">{{ 'products.product.sold_out' | t }}</span>
                {%- elsif product.compare_at_price > product.price and product.available -%}
                  <span class="badge badge--top-left color-{{ settings.sale_badge_color_scheme }} pecentual-discount" aria-hidden="true">{{ product.compare_at_price_max | minus: product.price | times: 100 | divided_by: product.compare_at_price_max }}% off</span>
                  <span class="badge badge--bottom-left color-{{ settings.sale_badge_color_scheme }}" aria-hidden="true">{{ 'products.product.on_sale' | t }}</span>
                {%- endif -%}
              </div>
              <div class="product-title">{{ product.title }}</div>
              <div class="price-wrapper">
              {% if product.compare_at_price > product.price %}
                <div class="product-price">{{- product.price | money_without_trailing_zeros -}}</div>

                <div class="product-compare-price">{{- product.compare_at_price | money_without_trailing_zeros -}}</div>
              {% else %}
                <div class="product-price">{{- product.price | money_without_trailing_zeros -}}</div>
              {% endif %}
              </div>
            </div>

          </a>

      {% endfor %}   
    </div>

  </div> 
  
</section>

{% javascript %}
const swiper = new Swiper('.seasonal-swiper-container', 
{
  // Optional parameters
  loop: true,
  spaceBetween: 5,
  slidesPerView: 5,
  centeredSlides: false,
  grabCursor: true,
  freeMode: true,
});
{% endjavascript %}

{% schema %}
{
  "name": "t:sections.seasonal-offers.name",
  "settings": [
    {
      "id": "title",
      "type": "text",
      "label": "t:sections.seasonal-offers.settings.title.label",
      "default": "Ofertas de temporada"
    }
  ]
}
{% endschema %}