<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

<div class="page-width">
  <h1 class="main-page-title page-title h0 titulo-con-division">
    {{ page.title | escape }}
    <div></div>
  </h1>
  <div class="rte">
    
    <!-- {{ page.content }} -->


    <div class="grid grid--2-col">

      <div class="grid__item">

        <h2 class="hcenter">
          NORTE
        </h2>

        <div class="container">

          <div class="row">
            <div class="col xs4 s4 m4 l4 xl4">
              <img class="" src="https://cdn.shopify.com/s/files/1/0592/9287/6983/files/tienda-fisica.png?v=1635948535"
                width="250" height="250" alt="" title="">
            </div>

            <div class="col xs8 s8 m8 l8 xl8">
              <div class="">
                <p class="">
                  <b>
                    <span>Sexta</span>
                  </b>
                </p>

                <ul>
                  <li>
                    <span>Av. 6 No. 13N - 29</span>
                  </li>
                  <li>
                    <span>L-V 9 a 7 PM I Sáb. 9 a 6:00 PM.</span>
                  </li>
                  <li>
                    <span>Tel: 379 90 92</span>
                  </li>
                </ul>
              </div>
            </div>

          </div><!-- end row -->

          <div class="row">
            <div class="col xs4 s4 m4 l4 xl4">
              <img class="" src="https://cdn.shopify.com/s/files/1/0592/9287/6983/files/tienda-fisica.png?v=1635948535"
                width="250" height="250" alt="" title="">
            </div>

            <div class="col xs8 s8 m8 l8 xl8">
              <div class="">
                <p class="">
                  <b>
                    <span>Américas</span>
                  </b>
                </p>

                <ul>
                  <li>
                    <span>Av. 3N No.. 21 - 50</span>
                  </li>
                  <li>
                    <span>L-S 9 a 7 PM I Dom. 10 a 3:00 PM.</span>
                  </li>
                  <li>
                    <span>Tel: 896 57 71</span>
                  </li>
                </ul>
              </div>
            </div>

          </div><!-- end row -->

          <div class="row">
            <div class="col xs4 s4 m4 l4 xl4">
              <img class="" src="https://cdn.shopify.com/s/files/1/0592/9287/6983/files/tienda-fisica.png?v=1635948535"
                width="250" height="250" alt="" title="">
            </div>

            <div class="col xs8 s8 m8 l8 xl8">
              <div class="">
                <p class="">
                  <b>
                    <span>Santa Mónica</span>
                  </b>
                </p>

                <ul>
                  <li>
                    <span>Av. 8N No. 23N - 80</span>
                  </li>
                  <li>
                    <span>L-V 9 a 6 PM I Sáb. 9:00 a 5:00 PM.</span>
                  </li>
                  <li>
                    <span>Tel: 387 67 51</span>
                  </li>
                </ul>
              </div>
            </div>

          </div><!-- end row -->

          <div class="row">
            <div class="col xs4 s4 m4 l4 xl4">
              <img class="" src="https://cdn.shopify.com/s/files/1/0592/9287/6983/files/tienda-fisica.png?v=1635948535"
                width="250" height="250" alt="" title="">
            </div>

            <div class="col xs8 s8 m8 l8 xl8">
              <div class="">
                <p class="">
                  <b>
                    <span>Av. Estación</span>
                  </b>
                </p>

                <ul>
                  <li>
                    <span>Av. Estación 3AN - 35 </span>
                  </li>
                  <li>
                    <span>L-V 8:30 a 7 PM I Sáb. 9:00 a 5:00 PM.</span>
                  </li>
                  <li>
                    <span>Tel: 387 23 62</span>
                  </li>
                </ul>
              </div>
            </div>

          </div><!-- end row -->

          <div class="row">
            <div class="col xs4 s4 m4 l4 xl4">
              <img class="" src="https://cdn.shopify.com/s/files/1/0592/9287/6983/files/tienda-fisica.png?v=1635948535"
                width="250" height="250" alt="" title="">
            </div>

            <div class="col xs8 s8 m8 l8 xl8">
              <div class="">
                <p class="">
                  <b>
                    <span>Versalles</span>
                  </b>
                </p>

                <ul>
                  <li>
                    <span>Av. 5N No. 22N - 24</span>
                  </li>
                  <li>
                    <span>L-V 8:30 a 7 PM  I Sáb. 9:00 a 5:00 PM.</span>
                  </li>
                  <li>
                    <span>Tel: 387 23 59</span>
                  </li>
                </ul>
              </div>
            </div>

          </div><!-- end row -->

        </div> <!-- end container -->


      </div>

      <div class="grid__item">

        <h2 class="hcenter">
          SUR
        </h2>

        <div class="container">

          <div class="row">
            <div class="col xs4 s4 m4 l4 xl4">
              <img class="" src="https://cdn.shopify.com/s/files/1/0592/9287/6983/files/tienda-fisica.png?v=1635948535" width="250" height="250" alt="" title="">
            </div>

            <div class="col xs8 s8 m8 l8 xl8">
              <div class="">
                <p class="">
                  <b>
                    <span>Templete</span>
                  </b>
                </p>

                <ul>
                  <li>
                    <span>Calle 6 No. 38 - 15</span>
                  </li>
                  <li>
                    <span>L-V 8:30 a 7PM I Sáb. 9:00 a 6:00 pm</span>
                  </li>
                  <li>
                    <span>Tel: 387 23 13</span>
                  </li>
                </ul>
              </div>
            </div>

          </div><!-- end row -->

          <div class="row">
            <div class="col xs4 s4 m4 l4 xl4">
              <img class="" src="https://cdn.shopify.com/s/files/1/0592/9287/6983/files/tienda-fisica.png?v=1635948535"
                width="250" height="250" alt="" title="">
            </div>

            <div class="col xs8 s8 m8 l8 xl8">
              <div class="">
                <p class="">
                  <b>
                    <span>Roosevelt</span>
                  </b>
                </p>

                <ul>
                  <li>
                    <span>Cra 42 No. 53 - 21</span>
                  </li>
                  <li>
                    <span>L-V 8 a 6 PM I Sáb.  8:00 a 3:00 PM.</span>
                  </li>
                  <li>
                    <span>Tel: 387 23 74</span>
                  </li>
                </ul>
              </div>
            </div>

          </div><!-- end row -->

          <div class="row">
            <div class="col xs4 s4 m4 l4 xl4">
              <img class="" src="https://cdn.shopify.com/s/files/1/0592/9287/6983/files/tienda-fisica.png?v=1635948535"
                width="250" height="250" alt="" title="">
            </div>

            <div class="col xs8 s8 m8 l8 xl8">
              <div class="">
                <p class="">
                  <b>
                    <span>Pasoancho</span>
                  </b>
                </p>

                <ul>
                  <li>
                    <span>Calle 13 No. 73 - 116 Local 103</span>
                  </li>
                  <li>
                    <span>L-S 9:00 a 7 PM I Dom. 10:00 a 3:00 pm</span>
                  </li>
                  <li>
                    <span>Tel: 384 99 54</span>
                  </li>
                </ul>
              </div>
            </div>

          </div><!-- end row -->

        </div> <!-- end container -->

      </div>

    </div>


  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "spaced-section"
}
{% endschema %}
